/* Reset de estilos para eliminar m치rgenes y rellenos predeterminados */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}

/* Estilo global para el cuerpo de la p치gina */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #3b3b3b;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    

}

/* Estilos para la barra de navegaci칩n */
.navegacion {
    display:  flex;
    justify-content: space-between;
    align-items: center;   
}

.logo_container {
    margin-right: 20px;
}

.logo {
    width: 100px;
    
}

.navegacion__nav {
    list-style: none;
    display: flex;
}

.nav__item {
    margin-right: 20px;
}

.nav__item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos para las secciones */
.inicio, .modelos, .galeria, .contacto, .info_contacto, .mapa_info, .modelos_section  {
    background-color: #595a593b;
    margin: 20px;
    padding: 20px;
    text-align: center;
    overflow: auto;
   
}

 .BmwM3, .golfgti, .BmwX6, .AstonMartin,.MercedesBenz {
    width: 640px;
    transform: translate(0, -1.5rem);
    transition:0.6s ease-in-out; 
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));         
}

&:hover{
    .BmwM3,.golfgti,.BmwX6,.AstonMartin,.golfgti,.MercedesBenz{
        transform: translate(-10px) ;
    }
}

.inicio h2, .modelos h2, .galeria h2, .contacto h2, .info_contacto h2 {
    font-size: 24px;
    margin-bottom: 10px;
    
}

.modelos ul, .galeria .galeria {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.modelos li, .galeria img {
    width: 100%;
    margin: 10px;
    text-align: center;
}

/* contacto */
form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 99%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ff0000;
    
}

form button {
    background-color: #0011ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos para el pie de p치gina */
footer {
    text-align: center;
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px;
}

.logo_contacto {
    width: 400px;
    margin-bottom: 5%;
}



.mapa_info, h3 {
    margin-bottom: 10px;
    
}



.modelos_section h5 {
    text-align: center;
    font-size: 20px;
    margin-top: 1px;

}

.logo_BMW {
    width: 200px;
    margin-bottom: 40px;

}

.logo_Aston {
    width: 400px;
    margin-bottom: 40px;
}

.logo_Mercedez {
    width: 300px;
    margin-bottom: 40px;
}

.logo_volkswagen {
    width: 500px;
      
}

.modelos p {
    font-size: 16px; 
  line-height: 1.5; 
  margin-bottom: 20px; 
  text-align: center; 
  font-family: Arial, sans-serif; 
  color: #333; 
  font-weight: bold;
}

.mapa {
    margin-bottom: 20px;
    margin-top: 20px;
}
